[Unit]
Description=Cuberhaus inbox collector

[Service]
Type=oneshot
ExecStart=/bin/bash %h/.local/scripts/automation/inbox-collector --notify
StandardOutput=journal
StandardError=journal
TimeoutStartSec=1h