[Unit]
Description=Cuberhaus user package maintenance
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash %h/.local/scripts/automation/user-package-maintenance
StandardOutput=journal
StandardError=journal
TimeoutStartSec=4h