.config/antigen/.zcompdump.pol.2391
.config/nvim/autoload/
.config/nvim/plugged/
.local/bin/bootstrap/profile.log
# Py
.local/bin/epylint
.local/bin/isort
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar

# KDE
.config/okularrc
.config/plasmashellrc
.config/kconf_updaterc
.config/kde.org/
.config/ksmserverrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kded5rc
# idk about this one
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/okularpartrc
.config/plasma-localerc
.config/plasma-nm
.config/plasma.emojierrc
.config/plasmanotifyrc
.config/powermanagementprofilesrc
.config/kateschemarc
.config/kcminputrc
.config/kwinrulesrc
.config/kxkbrc
.config/plasmarc

# antigen
.config/antigen/debug.log
.config/antigen/init.zsh
.config/antigen/init.zsh.zwc
.config/antigen/bundles/
.config/antigen/.resources
.config/antigen/.zcompdump
.config/antigen/.zcompdump.zwc
.config/antigen/revert-info

# Zsh
.config/zsh/.zshrc.zwc
.config/zsh/.zcompdump-Cuberhaus-5.8

# Distro
.config/distro

# Calibre
Calibre Library/metadata_db_prefs_backup.json

# Windows
*.swp
*~

# Tmux
.config/tmux/plugins/tmux-battery/
.config/tmux/plugins/tmux-continuum/
.config/tmux/plugins/tmux-pain-control/
.config/tmux/plugins/tmux-prefix-highlight/
.config/tmux/plugins/tmux-resurrect/
.config/tmux/plugins/tmux-sensible/

# Vim
.vim/autoload/
.vim/plugged/
#.local/share/vim/

# Fonts
*.uuid
#.local/share/fonts/Meslo/.uuid
#.local/share/fonts/fontawesome/.uuid
#.local/share/fonts/.uuid

# Ubuntu
.config/zsh/.zcompdump

# Ranger
.config/ranger/plugins/__init__.py

# Zsh
.config/zsh/.zcompdump-pol-5.8

# Nvidia
.config/nvidia/settings

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Git merge files
*orig

# Albert files
.config/albert/core.db
.config/albert/org.albert*
.config/albert/last_used_version

# Vifm files
.config/vifm/scripts
.config/vifm/colors
.config/vifm/vifminfo
.config/vifm/vifm-help.txt

# Stretchly
.config/stretchly/Cache/
.config/stretchly/Code Cache/
.config/stretchly/Cookies
.config/stretchly/Cookies-journal
.config/stretchly/GPUCache/
.config/stretchly/Network Persistent State
.config/stretchly/Session Storage/
.config/stretchly/TransportSecurity

# Transmission
.config/transmission/dht.dat
.config/transmission/resume/
.config/transmission/stats.json
.config/transmission/torrents/
