[user]
	email = 55292818+cuberhaus@users.noreply.github.com
    name = pol
	signingkey = 8870DF9B
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = meld
[mergetool]
    prompt = false
[mergetool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"   name = cuberhaus
[credential]
	helper = store
[commit]
	gpgSign = true
[tag]
	gpgSign = true
