.local/bin/mrjob
.local/bin/mrjob-3
.local/bin/mrjob-3.7
.config/com.corsair/
.cache/emacs/var/lsp/
.config/libreoffice/4/user/GraphicsRenderTests.log
.local/bin/antlr-4.10.1-complete.jar
.local/bin/npm
.local/bin/npx
.local/bin/black
.local/bin/blackd
.local/bin/grip
.local/bin/isympy
.local/bin/jirashell
.local/bin/jp.py
.local/bin/proselint
.local/bin/pyjwt
.local/bin/remotezip
.local/bin/stomp
.local/bin/tabulate
.local/bin/tqdm
.local/state/
.cache/emacs/var/eshell/
.cache/emacs/var/spell-fu/
.local/etc/jupyter/
.cache/emacs/var/gamegrid-user-score/
.local/lib/
.config/chemacs/profile
#Xmonad
.xmonad/build-x86_64-linux/
.config/github-copilot/*
.config/libreoffice/4/user/autotext/
.config/libreoffice/4/user/basic/
.config/libreoffice/4/user/database/
.config/libreoffice/4/user/extensions/
.config/libreoffice/4/user/gallery/
.config/libreoffice/4/user/pack/
.config/libreoffice/4/user/registrymodifications.xcu
.config/libreoffice/4/user/uno_packages/


*.tmp
.config/gtk-2.0/
# .local/bin
.local/share/recently-used.xbel
.config/.mono/
.config/xbuild/
*.vscode/
# TexStudio
# .config/texstudio/
.config/texstudio/templates/
.config/texstudio/macro/
.config/texstudio/completion/
.config/texstudio/lastSession.txss
.config/texstudio/lastSession.txss2
.config/texstudio/packageCache.dat
.config/texstudio/template_resources.xml
.config/texstudio/wordCount.usage
# Texmaker ?
.config/xm1/


#emacs
.cache/emacs/var/org/
.cache/emacs/var/auto-package-update-last-update-day
.cache/emacs/var/prescient-save.el
.cache/emacs/var/projectile/
.cache/emacs/var/recentf-save.el
.cache/emacs/var/transient/
.cache/emacs/var/treemacs/
.config/my_emacs/.last-package-update-day
.config/my_emacs/elpa/
.config/doom-emacs/
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
# flymake-mode
*_flymake.*
# eshell files
/eshell/history
/eshell/lastdir
# elpa packages
/elpa/
# reftex files
*.rel
# AUCTeX auto folder
/auto/
# Flycheck
flycheck_*.el

# cask packages
.cask/
dist/

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# Sublime Text
.config/sublime-text-3/Installed Packages/
.config/sublime-text-3/Local/
.config/sublime-text-3/Packages/SublimeCodeIntel/

# Icons
.local/share/icons/hicolor/

# Termite
.config/termite/config

# XFCE
.local/share/xfce4/helpers/

# xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

# bin
.local/bin/pip3.10
.local/bin/3to2
.local/bin/autopep8
.local/bin/codeintel
.local/bin/epylint
.local/bin/esprima
.local/bin/f2py
.local/bin/f2py3
.local/bin/f2py3.9
.local/bin/isort
.local/bin/pbr
.local/bin/pip
.local/bin/pip3
.local/bin/pip3.9
.local/bin/pycodestyle
.local/bin/pylint
.local/bin/pyreverse
.local/bin/symilar
.local/bin/wheel
.local/include/
.local/lib/python3.9/

# KDE
.config/okularrc
.config/plasmashellrc
.config/kconf_updaterc
.config/kde.org/
.config/ksmserverrc
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kded5rc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/okularpartrc
.config/plasma-localerc
.config/plasma-nm
.config/plasma.emojierrc
.config/plasmanotifyrc
.config/powermanagementprofilesrc
.config/kateschemarc
.config/kcminputrc
.config/kwinrulesrc
.config/kxkbrc
.config/plasmarc

# Antigen
.config/antigen/.zcompdump*
.config/antigen/debug.log
.config/antigen/init.zsh
.config/antigen/init.zsh.zwc
.config/antigen/bundles/
.config/antigen/.resources
.config/antigen/revert-info

# Zsh
.config/zsh/.zshrc.zwc
.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/

# Distro
.config/distro

# Calibre
Calibre Library/metadata_db_prefs_backup.json
.config/Calibre Library/

# Windows
*.swp
*~

# Tmux
.config/tmux/plugins/tmux-battery/
.config/tmux/plugins/tmux-continuum/
.config/tmux/plugins/tmux-pain-control/
.config/tmux/plugins/tmux-prefix-highlight/
.config/tmux/plugins/tmux-resurrect/
.config/tmux/plugins/tmux-sensible/

# Vim
vim/
.local/share/vim/viminfo
.vim/autoload/
.vim/plugged/
.vim/spell/
.config/nvim/autoload/
.config/nvim/plugged/
.vim/cache/
.vim/theme
#.local/share/vim/

# Fonts
*.uuid

# Nvidia
.config/nvidia/settings

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Git merge files
*orig

# CACHE FILES
## Ranger
.config/ranger/plugins/__init__.py
.local/share/ranger/
## Albert files
.config/albert/core.db
.config/albert/org.albert*
.config/albert/last_used_version
## Vifm files
.config/vifm/scripts
.config/vifm/colors
.config/vifm/vifminfo
.config/vifm/vifm-help.txt
## Stretchly
.config/stretchly/Cache/
.config/stretchly/Code Cache/
.config/stretchly/Cookies
.config/stretchly/Cookies-journal
.config/stretchly/GPUCache/
.config/stretchly/Network Persistent State
.config/stretchly/Session Storage/
.config/stretchly/TransportSecurity
## Transmission
.config/transmission/dht.dat
.config/transmission/resume/
.config/transmission/stats.json
.config/transmission/torrents/
.local/bin/bootstrap/profile.log
## Prolog
.config/swi-prolog/
## Tomighty
.tomighty/cache/
## R
.config/rstudio/
.local/share/rstudio/
## QT
.config/QtProject/
## Meld
.local/share/meld/
## Rclone
.config/rclone/
## Iterm 2
.config/iterm2/AppSupport
## Karabiner
# .config/karabiner/
.local/share/karabiner/
## Git
.gitconfig
.local/bin/django-admin
.local/bin/psghelp
.local/bin/psgissue
.local/bin/psgmain
.local/bin/psgsettings
.local/bin/psgupgrade
.local/bin/psgver
.local/bin/sqlformat
