
[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
[submodule ".config/i3blocks/scripts/i3blocks-spotify"]
	path = .config/i3blocks/scripts/i3blocks-spotify
	url = https://github.com/firatakandere/i3blocks-spotify
[submodule ".config/bash-git-prompt"]
	path = .config/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
