#!/bin/sh
# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced. (from xinitrc)
[[ -f ~/.zshenv ]] && source ~/.zshenv

# https://wiki.archlinux.org/index.php/Linux_console/Keyboard_configuration
# https://wiki.archlinux.org/index.php/Xorg/Keyboard_configuration

#setxkbmap es # Teclat español
# # Load Xmodmap
#[[ -f "$HOME/.Xmodmap" ]] && xmodmap $HOME/.Xmodmap && echo "hi"
#remaps &
setxkbmap -option caps:swapescape

if ! laptop-detect ; then
    ## USE ONLY WITH US KEYBOARD
    # altgr to type á
    # setxkbmap -rules evdev -model evdev -layout us -variant altgr-intl
fi

# After changing keyboard layout restart i3blocks
if [[ "$DESKTOP_SESSION" == "i3" ]]; then
    # This runs before i3
fi

if [[ "$DESKTOP_SESSION" == "cinnamon" ]]; then
    # xss-lock displays betterlockscreen when lid is closed
    exec xss-lock --transfer-sleep-lock -- cinnamon-screensaver -l &
    cinnamon-screensaver &
fi
