#!/bin/sh
# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced. (from xinitrc)
[[ -f ~/.zshenv ]] && source ~/.zshenv

if [[ "$DESKTOP_SESSION" == "i3" ]]; then
    # This runs before i3
fi

setxkbmap -option caps:swapescape
remaps &
if [[ "$DESKTOP_SESSION" == "cinnamon" ]]; then
    # xss-lock displays betterlockscreen when lid is closed
    exec xss-lock --transfer-sleep-lock -- cinnamon-screensaver -l &
    cinnamon-screensaver &
fi
