[Unit]
Description=Check GrabFreeGames RSS twice daily

[Timer]
OnCalendar=*-*-* 08:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true
RandomizedDelaySec=15m
AccuracySec=5m
Unit=pol-server-rss-email.service

[Install]
WantedBy=timers.target